/* ----------------------------------Cat------------------------------------*/
/* -------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/

* {
  box-sizing : border-box;
}

body {
  font-size: 15px;
  background-color: #F6F8FB;
}

.header-content {
  font-size: 35px;
  font-weight: bold;
}

.header-content > p.content-1 {
  margin-bottom: -10px;
}

.header-decription, .service-description, .service-text {
  color: #7D7987;
}

.home-image img {
  width: 100%;
}

.btn-primary {
  border-radius: 55px !important;
}

.home-button-calendar {
  margin-top: 20px;
}

.Logo {
  width: 50px;
}

.navbar-dark {
  background-color: #D8EDFD;
}

.navbar-dark .navbar-nav .nav-link {
  color: black !important;
}

.service-content, .service-description {
  text-align: center;
}

.service-content{
  font-weight: bold;
  font-size: 25px;
}

.service-img {
  margin-top: 20px;
  margin-left: 20px;
}

.service-item {
  height: 300px
}

.contact-button {
  background-color: #F6F8FB;
  color: #458FF6;
  border-radius: 55px;
  border: 1px solid #458FF6;
  margin-left: 520px;
}

.footer {
  background-color: #5B9BF3;
}
.footer-header {
  font-size: 15px;
  color: #F6F8FD;
  font-weight: bold;
}

.footer-content {
  color: #F6F8FD;
  font-size: 10px;
}


/* ----------------------------------Phuc------------------------------------*/
/* --------------------------------------------------------------------------*/

Log{
  min-height: 42px;
  font-family: var(--font-family-roboto);
  font-weight: 700;
  color: #222221c2;
  font-size: var(--font-size-m);
  letter-spacing: 0;
}
.ava{
width: 266px;
height: 266px;
left: 71px;
top: 12px;
border-radius: 166px;
}
.center{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
center_screen{
  position: 'absolute';
  left: '50%'; top: '50%';
}
.exception{
  font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 11px;
line-height: 21px;
color: #00B2FF;
background-color: #00000000;
}



/* --------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------*/


/* ----------------------------------Chanh------------------------------------*/
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* ----------------------------------Dung------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------*/