/* ----------------------------------Cat------------------------------------*/
/* -------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/

* {
  box-sizing : border-box;
}

body {
  font-size: 15px;
  background-color: #F6F8FB;
}

.header-content {
  font-size: 35px;
  font-weight: bold;
}

.header-content > p.content-1 {
  margin-bottom: -10px;
}

.header-decription, .service-description, .service-text {
  color: #7D7987;
}

.home-image img {
  width: 100%;
}

.btn-primary {
  border-radius: 55px !important;
}

.home-button-calendar {
  margin-top: 20px;
}

.Logo {
  width: 50px;
}

.navbar-dark {
  background-color: #D8EDFD;
}

.navbar-dark .navbar-nav .nav-link {
  color: black !important;
}

.service-content, .service-description {
  text-align: center;
}

.service-content{
  font-weight: bold;
  font-size: 25px;
}

.service-img {
  margin-top: 20px;
  margin-left: 20px;
}

.service-item {
  height: 300px
}

.contact-button {
  background-color: #F6F8FB;
  color: #458FF6;
  border-radius: 55px;
  border: 1px solid #458FF6;
  margin-left: 520px;
}

.footer {
  background-color: #5B9BF3;
}
.footer-header {
  font-size: 15px;
  color: #F6F8FD;
  font-weight: bold;
}

.footer-content {
  color: #F6F8FD;
  font-size: 15px;
}

.cat-cushome-header {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.cat-customer-item-left {
  width: 250px;
  height: 250px;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.cat-customer-item-right {
  width: 250px;
  height: 250px;
  margin-left: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.cat-customer-img {
  margin: auto;
  margin-top: 50px
}

.cat-customer-text {
  text-align: center;
  margin-top: 10px;
}

.cat-customer-item-link {
  text-decoration: none;
  color: black;
}

.cat-customer-item-link:hover {
  text-decoration: none;
  color: black;
}

.drug-item {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
}
.drug-img {
  margin: auto;
  margin-top: 5px
}

.drug-text {
  font-size: 15px;
  height: 40px;
}

.drug-title {
  color: #7C7C7C
}

.drug-price {
  font-size: 15px;
  margin-top: 15px
}
.drug-add-item {
  margin-left: 21px;
}

/* ----------------------------------Phuc------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------*/


/* ----------------------------------Chanh------------------------------------*/
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* ----------------------------------Dung------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------*/